$bg-color: $color-subtle-darker-white;

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  letter-spacing: .2rem;
  font-family: $noto-sans-jp;
  font-weight: $bold;
  margin: 0;
  background-color: $bg-color;
}