.main {
  width: 90%;
  @include flex-column();

  &__pomodoro {
    margin-top: 2.5rem;
  }

  &__control {
    margin-top: 2.5rem;
  }

  &__time-form {
    margin-top: 2.5rem;
  }

  &__timer-templates {
    margin-top: 5rem;
  }

  &__message {
    flex: 1;
  }
}

@media screen and (min-width: 960px) {
  .main {
    width: 50%;
  }
}