$color-black: rgb(0, 0, 0);
$color-dark-grey: rgb(61, 80, 92);
$color-grey: rgb(128, 128, 128);
$color-light-grey: rgb(240, 240, 240);
$color-white: rgb(255, 255, 255);
$color-red: rgb(255, 0, 0);
$color-tomato: rgb(255, 99, 71);
$color-gold: rgb(255, 215, 0);
$color-yellow: rgb(249, 248, 113);
$color-light-green: rgb(60, 203, 213);
$color-sky-blue: rgb(195, 252, 241);
$color-subtle-darker-white: rgb(254, 254, 254);